<div class="container">
    <div class="form" ng-controller="summController">
        <div class="form-group">
            <label for="1s" class="col-xs-12 col-sm-2"> First Summand</label>
            <input type="number" id="1s" ng-model="firstN" ng-blur="updateUrl()">
        </div>
        <div class="form-group">
            <label for="2s" class="col-xs-12 col-sm-2"> Second Summand</label>
            <input type="number" id="2s" ng-model="secondN" ng-blur="updateUrl()">
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-2"> Summ of numbers</label>
            <kt-sum sum="{{firstN+secondN}}"></kt-sum>
            <select ng-model="selectedCurrency"
                    ng-change="onChangeCurrency(selectedCurrency)">
                <option ng-selected="{{rate == selectedCurrency}}"
                        ng-repeat="(rate, value) in rates"
                        value="{{rate}}">
                    {{rate}}
                </option>
            </select>
            <span ng-if="selectedCurrency">{{getConverted()}}</span>
        </div>
    </div>
</div>